{% if not widget.flag %}
{% include "forms/widgets/input.html" %}
{% else %}
 {% comment %} <el-checkbox name="{{ widget.name }}" v-model="{{ widget.name }}" {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %} {% include 'forms/widgets/attrs.html' %}  ></el-checkbox> {% endcomment %}
<el-checkbox name="{{ widget.name }}" v-model="{{ widget.name }}" {% include 'forms/widgets/attrs.html' %}  ></el-checkbox>

{% comment %} <template v-if="'{{ widget.value|stringformat:'s' }}'!='None'">
<el-checkbox name="{{ widget.name }}" v-model="{{ widget.name }}" {% include 'forms/widgets/attrs.html' %} checkbox  ></el-checkbox>
选中{{ widget.value|stringformat:'s' }}
</template>
<template v-else>
<el-checkbox name="{{ widget.name }}" v-model="{{ widget.name }}" {% include 'forms/widgets/attrs.html' %}  ></el-checkbox>
未选中
</template> {% endcomment %}
{% endif %}
