{% load i18n static simpletags %}

<div id="home">

    <ul class="site-doc-icon">
        {% if app_list %}
            {% for app in app_list %}
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                      <span>{{ app.name }}</span>
                            <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button>
                      </div>
                        {% for model in app.models %}
                            <div class="open" url="{{ model.admin_url }}">
                                {{ model.name|get_icon }}
                                <div class="doc-icon-name">{{ model.name }}</div>
                            </div>
                        {% endfor %}
                </el-card>
            {% endfor %}
        {% endif %}
    </ul>

    {% load log %}
    {% get_admin_log 10 as admin_log for_user user %}
    {% if admin_log %}
        <div class="block">
            <el-timeline>
                {% for entry in admin_log %}
                    <el-timeline-item timestamp="{{ entry.action_time }}" placement="top">
                        <el-card>
                            <p>{{ entry.user }} {{ entry.action_time }}</p>
                            <h4>{{ entry.content_type }}: {{ entry }}</h4>
                        </el-card>
                    </el-timeline-item>
                {% endfor %}
            </el-timeline>
        </div>
    {% endif %}

</div>