{% load i18n static %}
{% load simpletags %}
{% if cl.search_fields or cl.has_filters %}
    <div id="toolbar">
        <form id="changelist-search" method="get">
            <div class="layui-form"><!-- DIV needed for valid HTML -->
                <label for="searchbar"><img src="{% static "admin/img/search.svg" %}" alt="Search"/></label>
                {% if cl.search_fields %}
                    <input class="" type="text" size="40" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar"
                           autofocus placeholder="搜索" fields="{{ cl.search_fields|join:"," }}"/>
                {% endif %}
                {% if cl.has_filters %}

                    {% for spec in cl.filter_specs %}

                        <div class="layui-inline">
                            <select data-name="{{ spec.lookup_kwarg }}" lay-search>
                                <option value="">全部{{ spec.title }}</option>

                                {% if spec.lookup_choices %}
                                    {% for option in spec.lookup_choices %}
                                        <option value="{{ option.0 }}">{{ option.1 }}</option>
                                    {% endfor %}
                                {% elif spec.field.choices %}
                                    {% for option in spec.field.choices %}
                                        <option value="{{ option.0 }}">{{ option.1 }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                {% endif %}
                            </select>
                        </div>
                    {% endfor %}
                {% endif %}
                {#                <input type="submit" value="{% trans 'Search' %}"/>#}
                <button type="submit" class="layui-btn">
                    <i class="layui-icon">&#xe615;</i>
                    {% trans 'Search' %}
                </button>
                {% if show_result_count %}
                    <span class="small quiet">{% blocktrans count counter=cl.result_count %}{{ counter }} result
                    {% plural %}找到{{ counter }}条 {% endblocktrans %} </span>
                {% endif %}
                    <a href="?{% if cl.is_popup %}_popup=1{% endif %}">{% if cl.show_full_result_count %}
                        {% blocktrans with full_result_count=cl.full_result_count %}总共{{ full_result_count }}条
                        {% endblocktrans %}{% else %}{% trans "Show all" %}{% endif %}
                    </a>

                {% for pair in cl.params.items %}
                    {% if pair.0 != search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>
                    {% endif %}
                {% endfor %}
            </div>
        </form>
    </div>
    <script type="text/javascript">
        window.onload = function () {

            //默认值
            $("#changelist-search input[type='hidden']").each(function () {
                var name = $(this).attr("name");
                if (name) {
                    $("#changelist-search select[data-name='" + name + "']").val($(this).val());
                }
            });

            layui.use('form', function (form) {
                form.on("select", function (target) {
                    var val = target.value;
                    var name = $(target.elem).attr("data-name");
                    var input = $("#changelist-search input[name='" + name + "']")
                    if (input.length == 0) {
                        $("#changelist-search").append('<input type="hidden" name="' + name + '" value="' + val + '"/>')
                    } else {
                        input.val(val);
                    }
                })
            });
        }
    </script>
{% endif %}
